<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>


<%= form_with url: posts_path, html: {method: :get} do |f| %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %>

<% @posts.each do |post| %>
  <p>
    <b>Title:</b>
    <%= post[:title] %>
  </p>
  <p>
    <b>Description:</b>
    <%= post[:description] %>
  </p>
  <hr>
<% end %>